name: ci

on: 
  push:
  schedule:
    - cron: '0 0 * * *'

jobs:
  build:
    timeout-minutes: 5
    runs-on: ubuntu-latest
    strategy:
      fail-fast: false
      matrix:
        java: [ '17', '21', '25' ]
    permissions:
      contents: read
      packages: write

    steps:
      - uses: actions/checkout@v5
      - name: Set up JDK
        uses: actions/setup-java@v5
        with:
          java-version: ${{ matrix.java }}
          distribution: 'corretto'
      - name: Set up Gradle
        uses: gradle/actions/setup-gradle@v5

      - name: Build with Gradle
        run: ./gradlew build jacocoTestReport javadoc -i
      - uses: codecov/codecov-action@v5
        if: matrix.java == '21'
        env:
          CODECOV_TOKEN: ${{ secrets.CODECOV_TOKEN }}
